.pc,
.mobile,
.ipad {
    color: white;
    font-size: 100px;
    font-weight: 600;
    display: none;
}
@media only screen and (min-width:1024px)
{
    .pc{
        display: block;
    }
}
@media only screen and (min-width:740px) and (max-width:1023px)
{
    .ipad{
        display: block;
    }
}
@media only screen and (max-width:739px)
{
    .mobile{
        display: block;
    }
}